name: Playwright Docker Tests
on:
    push:
      branches: [ main, master ]
    pull_request:
      branches: [ main, master ]
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - name: Checkout       
      uses: actions/checkout@v4      
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    - name: Verify Docker Compose (optional, for debugging)
      run: |
        docker --version
        docker compose version # Verify that 'docker compose' (v2) is available
    - name: Build and run Docker Compose
      run: |
        docker compose up --build --abort-on-container-exit
    - uses: actions/upload-artifact@v4
      if: ${{ !cancelled() }}
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30